<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search by Gene</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
	<link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-2.2.3.min.js"></script>
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
	<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
          </ul>
        </nav>
        <h3 class="text-muted">Polish Exome Database</h3>
      </div>
 
      <div class="jumbotron">
        <h1>Polish Exome Database</h1>
         <form action="" method=post enctype=multipart/form-data>
     <input type=file name=file placeholder="file" class="form-control" required autofocus>
              <label for=file class="sr-only">File</label>

         <button id="btnSearch" class="btn btn-lg btn-primary btn-block" type="submit">Upload file</button>
    </form>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>
