<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Polish Exome Database</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                  <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/searchGene">Search by Gene</a>
                    </li>
                    <li role="presentation"><a href="/searchPosition">Search by Position</a>
                    </li>
                     <li role="presentation"><a href="/searchTableGene">Search by Gene (Table View)</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Polish Exome Database</h3>
        </div>
 
        <div class="jumbotron">
           <table style="width:100%" class=sortable>
			   <caption>Variants by position</caption>
		  <thead>
			<th>CHROM</th>
			<th>Position</th>
			<th>MAF</th>
			<th>RS</th>
			<th>Gene</th>
			<th>Amino acid change</th>
		</thead>
		<tbody>
			<tr>
				{% for variant in variants %}
				<td align="left">{{variant.chrom}}</td>
				<td align="left">{{variant.position}}</td>
				<td align="left">{{variant.maf}}</td>
				<td align="left">{{variant.rs}}</td>
				<td align="left">{{variant.gene}}</td>
				<td align="left">{{variant.change}}</td>
				{% endfor %}
			</tr>
		</tbody>
		</table>  
        </div>
		
 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>
